<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Servicios</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-h-square"></i>Hospedaje</a></li>
                    <li><a href="#"><i class="fa fa-tree"></i>Paseos</a></li>
                    <li><a href="#"><i class="fa fa-medkit"></i>Veterinarias</a></li>
                    <li><a href="#"><i class="fa fa-paw"></i>Adopciones</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Ayuda</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-question"></i>FAQ</a></li>
                    <li><a href="#"><i class="fa fa-clipboard"></i>Términos y condiciones</a></li>
                    <li><a href="#"><i class="fa fa-lock"></i>Políticas de privacidad</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>HomeDog</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="#"><i class="fa fa-address-card"></i>Sobre nosotros</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>Contactanos</a></li>
                    <li><a href=""><i class="fa fa-map-marker"></i>Buenos Aires</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>+54 9 11 3107 0000</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <hr>
            <div class="col-xs-12">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-youtube"></i></a></li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="copyright">
            <p>Design and developed by HomeDog ©Copyright 2020 all rights reserved.</p>
        </div>
    </div>
</section>